[mysqld]
autocommit=0
innodb_flush_log_at_trx_commit=0
innodb_flush_log_at_timeout=10
innodb_buffer_pool_size=8G
innodb_log_file_size=1073741824
innodb_write_io_threads=16
#bin log not useful since data safety is not important, but this might affect performance.
skip-lob-bin=1
